.collapse-member {
  margin-top: 2%;
}
.collapse-member .ant-collapse-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 27px;
  /* identical to box height, or 208% */

  letter-spacing: 1px;

  color: #2d3843;
}
.rank-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  /* identical to box height, or 193% */

  letter-spacing: 1px;

  color: #343a40;
}
