.group-attribute-customer {
  input {
    width: 173px;
  }

  .group-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2d3843;
  }

  .content-group-modal-attribute {
  }
}

.modal-content {
  width: 200% !important;
  margin-left: -50%;
}

.modal-dialog {
  margin-left: 10% !important;
}
