.group-attribute-customer {
  input {
    width: 173px;
  }

  .group-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2d3843;
  }

  .modal-content {
    width: 200% !important;
  }
}
