#properties-management-title {
  padding: 9px 30px;
  line-height: 30px;
  font-size: 18px;
  background: white;
  margin: 1px -9px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: black;
}
.form-button {
  display: flex;
}
.search-bar-properties {
  display: flex;
  padding-top: 11px;
}
.select-bar {
  width: 115px;
}
.table-drag {
  z-index: 99;
}
#btn-function {
  display: inline-block;
}
