#campaing-auto {
  font-size: 18px;
  background: white;
  margin: 1px -9px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
#title-campaign-auto {
  height: 60px;
  margin: 3px 0px 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.body-campaign-auto {
  background: white;
  .gutter-example .ant-row > div {
    background: transparent;
    border: 0;
  }
  .gutter-box {
    background: #00a0e9;
    padding: 5px 0;
    height: 75px;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  thead th {
    color: #545cd8;
  }
  .table-striped {
    margin-top: 0px !important;
  }

  .table-responsive {
    display: block;
    overflow-x: auto;
  }
  .table thead th,
  .table td {
    vertical-align: middle;
  }
  .table thead th {
    border-bottom: 2px solid #e9ecef;
  }
  .table th,
  .table td {
    padding: 0.55rem;
    border-top: 1px solid #e9ecef;
  }
  thead th,
  tbody td,
  tbody td .badge {
    border-right: 1px solid #dedede;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
  }
}
