.email-template-management {
    background-color: #fff;
    .email-template-title-header {
        font-size: 18px;
        background: #f9fafb;
        margin: 0px -10px 10px;
        padding: 15px 10px;
        line-height: 25px;
        button {
            float: right;
            margin-right: 10px;
        }
    }
    .email-template-search {
        display: flex;
        float: right;
        input {
            width: 300px;
            margin-right: 10px;
        }
    }
    .email-template-list {
        .gutter {
            margin: 10px;
            font-size: 18px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            border-radius: 3px;
            border: 1px solid #dbe1e7;

            .gutter-content:hover .image {
                opacity: 0.3;
              }
              
            .gutter-content:hover .middle {
                opacity: 1;
              }

            .gutter-content {
                height:80%;
                position: relative;
                .image {
                    max-width: 100%;
                    max-height: 100%;
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: auto;
                    transition: .5s ease;
                    backface-visibility: hidden;
                  }

                .middle {
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                  }

            }
            .gutter-title {
                height: 20%;
                background-color: burlywood;
            }
        }
    }

    .email-template-navigation {
        margin-right: 10px;
    }
}

.modal-config-preview {
    .modal-content {
      height: 680px;
      width: 200%;
      margin-left: -200px;
    }
  }