#userCreate .page-title-actions {
  display: none;
}
// .search-nav .col-md-3 {
#userCreate.app-page-title .page-title-icon {
  display: none !important;
}
#userCreate .name-title {
  font: message-box;
  font-size: 13px;
}
#userCreate #exampleText {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 166px;
}
#userCreate .time {
  margin-top: 16px !important;
}

#userCreate .font-icon-wrapper {
  border: none !important;
  border-radius: 0.25rem;
  margin: 0 0 10px;
  padding: 5px;
  float: left;
  margin-top: 5px;
}
#userCreate .font-icon-wrapper.font-icon-lg {
  float: left;
  padding: 0px !important;
  margin-right: 0 !important;
  min-width: 0px !important;
}
#userCreate .page-title-actions {
  display: none;
}
#userCreate .search-nav .col-md-3 {
  text-align: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 20px;
}
// .search-nav .row {
#userCreate .search-nav .row {
  margin-right: -0 !important;
  margin-left: -0 !important;
}
.search-nav {
  margin-bottom: 30px;
  text-align: center;
}
.search-nav .col-md-3 :hover {
  border-bottom: 2px solid blue;
}
.search-nav .row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
.search-nav .col-md-3 {
  padding-right: 0;
  padding-left: 0;
}

.grid-container-total {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 25% 25% 25% 25%;
  background: none;
  margin-right: 30px;
}

.grid-item {
  display: grid;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  height: auto;
  grid-template-rows: auto auto;
}

.grid-border {
  background-color: white;
}

.camp-title,
.camp-status,
.quantity,
.range-time {
  float: left;
}

.camp-title {
  width: 100%;
  font-weight: 500;
  font-size: 19px;
}
#userCreate .search-nav .col-md-3 :hover {
  border-bottom: 2px solid blue;
}

#userCreate .grid-container-total {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

#userCreate .grid-items {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: solid 1px gray;
  word-break: break-word;
}

#userCreate .camp-title,
#userCreate .camp-status,
#userCreate .quantity,
#userCreate .range-time {
  float: left;
}

#userCreate .camp-titles {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.camp-status {
  font-size: 12px;
  color: limegreen;
}

.quantity,
.range-time {
  font-size: 11px;
  color: gray;
}
.camp-top {
  width: 100%;
  border-bottom: 1px solid #dedede;
}
#userCreate .camp-top {
  width: 100%;
  border-bottom: none !important;
}

.camp-bottom-right-top {
  font-size: 11px;
  float: right;
}
// .camp-bottom-right-bot {
#userCreate .camp-status {
  font-size: 8px;
  color: limegreen;
}

#userCreate .quantity,
#userCreate .range-time {
  font-size: 11px;
  color: #dedede;
}
#userCreate .camp-top {
  width: 100%;
}
#userCreate .camp-bottom-right-top {
  font-size: 11px;
  float: right;
}
#userCreate .camp-bottom-right-bot {
  width: 50%;
  font-size: 11px;
  float: right;
}

.camp-bottom-left {
  width: 33%;
}
// .camp-bottom {
//   display: grid;
//   grid-auto-columns: 33% auto;
// }

.modal-grid,
.modal-grid-child1,
.modal-grid-child1-top,
.modal-grid-child1-bottom,
.modal-grid-child1-bottom1,
.modal-grid-child1-bottom2,
.modal-grid-child1-bottom3,
.modal-grid-child1-bottom4 {
  display: grid;
}
.modal-grid {
  grid-auto-rows: 45% auto;
}
.modal-header,
.modal-footer {
  background: white;
}

.modal-grid-child1-bottom1,
.modal-grid-child1-bottom2,
.modal-grid-child1-bottom3,
.modal-grid-child1-bottom4 {
  grid-auto-rows: 50% auto;
}
// .modal-grid-child1-bottom {
//   grid-auto-columns: 15% 30% 30% 25%;
//   grid-column-start: 5px;
// }

.modal-content {
  width: 200% !important;
  margin-left: -260px !important;
}

.modal-title {
  width: 100%;
  color: black;
}
.camp-modal-status {
  font-size: 13px;
  color: limegreen;
  float: right;
  margin-top: 4px;
}
#userCreate .camp-bottom-left {
  width: 33%;
}
#userCreate .slick-slider {
  max-width: 98%;
}
#userCreate .label-text {
  color: grey;
}
//event Click
#userCreate .image-tites {
  width: 24px;
  float: right;
}
#userCreate .camp-title-click {
  font-size: 15px;
  font-weight: 500;
  color: blue;
}
#userCreate .grid-items-Click {
  border: dashed 1px grey;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px 16px;
  padding-top: 8px;
  word-break: break-word;
}

#userCreate .app-inner-layout__sidebar {
  float: left;
  height: 530px;
  width: 300px;
}
#userCreate .app-inner-layout__content {
  float: right;
  height: 530px;
}
#userCreate .chosse-customer-class {
  text-align: center;
}
#userCreate .bg-arielle-smile {
  font-size: 35px;
}
#userCreate .grid-items-cus {
  height: 185px;
  border: dashed 1px grey;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  word-break: break-word;
}
#userCreate .fUuvxv {
  width: 85px;
  height: 112px;
}
#userCreate .grid-items-pop {
  height: 185px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.8);
}
#userCreate .img-facebook {
  width: 30px;
  margin-top: -3px;
  margin-left: -4px;
}
#userCreate .img-zalo {
  margin-top: -6px;
  width: 22px;
}
#userCreate .boder-create-new {
  border-top: solid 1px darkgray;
  display: grid;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 0px;
}
#userCreate .title-contract {
  padding: 0px 10px;
  margin-top: 9px;
}

#userCreate .row-nav {
  margin-bottom: 2px;
}

#userCreate .label-icon {
  float: right;
  margin-right: 10px;
}

// #userCreate .page-title-icon{
//   display: none
// }
#userCreate .app-page-title {
  padding: 10px !important;
  font-size: 13px;
}
#userCreate .card-info {
  background: rgba(255, 255, 255, 0.55);
  padding: 0px 10px;
  padding-top: 10px;
}
#userCreate .container-create {
  margin-top: -10px;
  margin-left: -25px;
  padding-top: 0px;
}
#userCreate .lnr-chevron-down {
  float: right;
  font-size: 24px;
}
#userCreate .title-page {
  width: 105%;
  padding: 15px;
  margin: -25px -29px 19px;
  position: relative;
  background: rgba(255, 255, 255, 0.55);

  align-content: center;
  align-items: center;
}
#userCreate .title-head {
  font-size: 1.25rem;
  font-weight: 400;
}
#userCreate .pe-7s-close-circle {
  float: right;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
#userCreate .form-control {
  font-size: 13px;
  height: 40px;
}
#userCreate .DateInput_input {
  font-size: 13px;
  line-height: 0px;
}
#userCreate .DateRangePickerInput_arrow {
  display: block;
}
#userCreate .DateRangePickerInput__withBorder_2 {
  display: flex;
  width: 100%;
  border: 1px solid #ced4da;
}
#userCreate .DateRangePickerInput_arrow_svg {
  vertical-align: middle;
  fill: #484848;
  height: 24px;
  padding: 4px;
  margin-top: 8px;
  width: 24px;
}
#userCreate .app-main .app-main__inner {
  padding: 30px 5px 0 !important;
}
#userCreate .campaign-document {
  display: none;
}
#userCreate .DateRangePicker {
  width: 85%;
}
#userCreate .container-fluid {
  width: 105%;
}
#campList .app-main .app-main__inner {
  padding: 30px 30px 0;
  flex: 1;
}
