.version {
  .text-process {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }
  .MuiCheckbox-colorPrimary.Mui-checked {
    color: #3866dd;
  }
  .img-status {
    margin: 1% 2% 2% 30%;
  }
  .ant-progress-success-bg,
  .ant-progress-bg {
    background-color: #98b1d5;
  }
  .ant-progress-inner {
    background-color: #e2e5e7;
  }
  .ant-progress-line {
    width: 70%;
  }
  .count-version {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #343a40;
    margin-left: 2%;
  }
  .ant-breadcrumb {
    padding: 15px;
  }
  .ant-breadcrumb-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #595c82;
  }
  .ant-breadcrumb a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #3866dd;
  }

  .ant-breadcrumb a:hover {
    text-decoration: none;
    color: greenyellow;
  }
  .container-version {
    padding-top: 15px;
  }
  .body-version {
    padding: 15px;
    text-align: right;
  }
  .main-table-version {
    margin: 0% 2%;
    width: 97% !important;
    .table-content {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      text-decoration-line: underline;

      color: #3866dd;
      text-align: left;
    }
    .row-status {
      text-align: left;
    }
    label {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      color: #495057;
    }
  }
  thead th {
    color: #545cd8;
  }
  .table-striped {
    margin-top: 0px !important;
  }

  .table-responsive {
    display: block;
    overflow-x: auto;
  }
  .table thead th,
  .table td {
    vertical-align: middle;
  }
  .table thead th {
    border-bottom: 2px solid #e9ecef;
  }
  .table th,
  .table td {
    padding: 0.55rem;
    border-top: 1px solid #e9ecef;
  }
  thead th,
  tbody td,
  tbody td .badge {
    border-right: 1px solid #dedede;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
  }
}
