.field-data {
  div[class~='ant-col'] {
    padding: 5px 5px;
  }
}

.ant-radio-button-wrapper-checked {
  background-color: #353ed1 !important;
}

.ant-modal {
  width: 1000px !important;
  top: 40px;
}
