.tab-detail-3 .label-landingpage {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #495057;
}
.tab-detail-3 .select-landingpage {
  background: #ffffff;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 3px;
}
.tab-detail-3 .preview {
  float: right;
}
