.message-error {
  color: red;
}

.login-acc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  margin-top: 18px;
  color: #343a40;
}
.title-acc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}
#Email {
  width: 90%;
}
