.row-main {
  .ant-breadcrumb {
    padding: 15px;
  }
  .ant-breadcrumb-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #595c82;
  }
  .ant-breadcrumb a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #3866dd;
  }

  .ant-breadcrumb a:hover {
    text-decoration: none;
    color: greenyellow;
  }
  .row-sort-tree {
    display: list-item;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #343a40;
  }
  .ant-table-wrapper {
    width: 100%;
  }
  .d-lg-block {
    border: solid 1px rgba(0, 0, 0, 0.1);
    background: white;
  }
  .ant-spin-nested-loading {
    border: solid 1px rgba(0, 0, 0, 0.1);
  }
  .rstcustom__rowLabel {
    font-size: 16px;
  }
  .rstcustom__expandButton {
    top: 20px;
  }
}
.header-row {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  background: whitesmoke;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: #2d3843;
}
