.draggable-tree {
  .ant-tree-icon__customize {
    float: right;
  }
  .ant-tree-node-content-wrapper:hover {
    color: #3866dd;
    i {
      float: left;
      display: block;
    }
  }
  .ant-tree-node-content-wrapper {
    i {
      display: none;
    }
  }
}
