.draggable-tree {
  .ant-tree-icon__customize {
    float: right;
  }

  .ant-tree-node-content-wrapper:hover {
    color: #3866dd;

    .anticon-down {
      float: left;
      display: block;
    }
  }
  // .ant-tree-node-content-wrapper {
  //   .anticon-down {
  //     display: none;
  //   }
  // }
  .anticon-folder-add {
    color: gray;
  }
}
.tree-node {
  .ant-tree-icon__customize {
    margin-right: 10% !important;
  }
}
.pop-data {
  left: 6% !important;
}
.tree-data {
  .ant-tree-node-content-wrapper {
    height: 100% !important;
  }
}
