.draggable-tree {
  .ant-tree-icon__customize {
    float: right;
  }
  .ant-tree-node-content-wrapper-normal:hover {
    color: #3866dd;
    i {
      display: block;
    }
  }
  .ant-tree-node-content-wrapper-normal {
    i {
      display: none;
    }
  }
}
