.group-modal-config {
  position: relative;
  padding-bottom: 60px;
  .input-search_group {
    display: flex;
    margin-bottom: 10px;

    .input-search_label {
      width: 80px;
      line-height: 30px;
      font-weight: 500;
    }
  }

  .group-addition {
    .ant-card-body {
      padding: 0px;
    }

    .group-addition_content {
      padding: 14px;
    }

    .group-addition_block-out {
      padding-left: 20px;
      line-height: 40px;
      background: #eff9ff;
      box-sizing: border-box;
      border-radius: 3px 3px 0px 0px;
    }

    ul {
      list-style-type: none;
    }

    .search-table-customer {
      padding-top: 15px;
    }
  }
}
