.topica-dropdown {
  position: relative;
  line-height: 40px;
  height: 40px;
  min-width: 150px;
  $color_border: #ced4da;
  &:hover {
    cursor: pointer;
  }

  .toggle-dropdown {
    width: 100%;
    height: 40px;
    border: solid $color_border 1px;
    border-radius: 5px;
    text-align: center;
    svg {
      position: absolute;
      right: 10px;
      top: 15px;
    }

    .toggle-data {
    }

    .toggle-icon {
    }
  }

  .topica-dropdown-menu {
    position: relative;
    bottom: -5px;
    border: solid $color_border 1px;
    border-radius: 5px;
    width: 100%;
    z-index: 5;
    padding: 2px;
    background-color: white;
    max-height: 250px;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .topica-dropdown-item {
      display: list-item;
      list-style-type: none;
      line-height: 30px;
      width: 100%;
      background-color: white;

      &:hover {
        background-color: aquamarine;
        cursor: pointer;
      }
    }
  }
}
