.delete-search {
  background: #fff1ef;
  border: 1px solid #fcc4c4;
  border-radius: 3px;
  margin: 10px 0px;
  line-height: 35px;
  padding: 5px 15px;
  color: #7f221c;
  font-size: 12px;
}

li {
  &:hover {
    cursor: hand;
  }
}

.search-name-info {
  width: 100%;
  &:hover {
    cursor: hand;
  }
}
#modal-filter .modal-content {
  width: 100% !important;
  margin-left: 0px !important;
}
