.group-customer {
  padding: 30px 10px;
  height: 100%;
  background-color: #fff;
  width: 40%;
  height: auto;

  .block-out {
    padding: 10px 0px;
  }

  .btn-add-tag {
    margin-top: 30px;
  }

  .item-contact {
    position: relative;
  }

  .user-contact-item {
    position: relative;
    top: 5px;
    margin: 0px 5px;
  }

  .padding-popover {
    padding: 0px 20px;
  }
}

.ant-popover-inner-content {
  padding: 5px;
  font-size: 1rem;
}

.customer-li {
  &:hover {
    background: rgb(226, 226, 226);
  }
  padding: 5px 15px;
}

.tr {
  cursor: pointer;
}
