.pop-version {
  .anticon-snippets {
    vertical-align: unset !important;
  }
}
.pop-tag {
  max-width: 20%;
  .link {
    span {
      text-decoration: underline;
      padding-left: 5%;
    }
  }
  .btn-cancel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #343a40;
    border: unset;
  }
}
.campaign-list {
  padding: 30px 10px 20px 10px;
  background-color: #fff;
  width: 98%;
  height: auto;
  position: relative;

  .text-process {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }
  .ant-progress-inner {
    background: #e2e5e7;
  }
  .block-out {
    .col-search-tag {
      float: right;
      margin-right: 3%;
      .rw-widget {
        width: 70%;
      }
    }

    .input-search_label-1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 33px;

      color: #495057;
    }
    .label-search {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 33px;

      color: #495057;
    }
    padding: 10px 0px;

    .ant-input-affix-wrapper {
      height: 33px;
      width: 200px;
    }
  }

  table {
    max-width: 100%;
    position: relative;
    td,
    th {
      border: 1px solid #dddddd;
      text-align: center;
    }

    th {
      color: #545cd8;
    }
  }

  .checkbox-td {
    width: 40px;
  }

  #name {
    a {
      color: #3866dd;
      font-size: 15px;

      text-decoration-line: underline;
    }
    span {
      color: #8a96a2;

      font-size: 13px;
    }
    max-width: 200px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    /* identical to box height */
  }

  #status {
    max-width: 100px;
  }

  #contact-number {
    max-width: 100px;
  }

  .navigation1 {
    position: absolute;
    right: 0px;
    width: 100%;
    text-align: center;
    margin-right: 15px;

    .row {
      margin-right: -15px;
    }
    
  }

  .total-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #6c757d;
  }
  .ant-progress-outer {
    width: 60% !important;
  }
}
