.pop-version {
  .anticon-snippets {
    vertical-align: unset !important;
  }
}
.campaign-list {
  padding: 30px 10px 20px 10px;
  background-color: #fff;
  width: 98%;
  height: auto;
  position: relative;

  .block-out {
    .col-search-tag {
      .rw-widget {
        width: 70%;
      }
    }

    .input-search_label-1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 33px;

      color: #495057;
    }
    .label-search {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 33px;

      color: #495057;
    }
    padding: 10px 0px;

    .ant-input-affix-wrapper {
      height: 33px;
      width: 200px;
    }
  }

  table {
    max-width: 100%;
    position: relative;
    td,
    th {
      border: 1px solid #dddddd;
      text-align: center;
    }

    th {
      color: #545cd8;
    }
  }

  .checkbox-td {
    width: 40px;
  }

  #name {
    max-width: 200px;
  }

  #status {
    max-width: 100px;
  }

  #contact-number {
    max-width: 100px;
  }

  .navigation1 {
    position: absolute;
    right: 0px;
    width: 100%;
    text-align: center;
    margin-right: 15px;

    .row {
      margin-right: -15px;
    }
  }

  .total-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #6c757d;
  }
}
