.campaign-list {
  padding: 30px 10px 20px 10px;
  background-color: #fff;
  width: 98%;
  height: auto;
  position: relative;

  .block-out {
    display: flex;
    padding: 10px 0px;
    position: relative;

    .button-action {
      width: 30%;
      button {
        margin-right: 5px;
      }
    }

    .search {
      width: 70%;
      .ant-input-affix-wrapper {
        height: 33px;
        position: absolute;
        right: 0px;
        width: 200px;
      }
    }
  }

  table {
    max-width: 100%;
    position: relative;
    td,
    th {
      border: 1px solid #dddddd;
      text-align: center;
    }
  }

  .checkbox-td {
    width: 40px;
  }

  #name {
    max-width: 200px;
  }

  #status {
    max-width: 100px;
  }

  #contact-number {
    max-width: 100px;
  }
}

.navigation {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  margin-right: 25px;
}
.total-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #6c757d;
}
