.group-customer {
  padding: 30px 10px;
  height: 100%;
  background-color: #fff;
  width: 40%;
  height: auto;

  .block-out {
    padding: 10px 0px;
  }

  .btn-add-tag {
    margin-top: 30px;
  }

  .item-contact {
    position: relative;
  }

  .user-contact-item {
    position: relative;
    top: 5px;
    margin: 0px 5px;
  }

  .padding-popover {
    padding: 0px 20px;
  }

  .ant-popover-inner-content {
    padding: 0px !important;
  }
}
