.group-customer {
  padding: 30px 10px;
  height: 100%;
  background-color: #fff;
  width: 40%;
  height: 600px;

  .block-out {
    padding: 10px 0px;
  }

  .btn-add-tag {
    margin-top: 30px;
  }
}
