.create-content {
  height: 99%;
  position: absolute;
  width: calc(100% - 30px);
  top: 30px;

  .add-content {
    .btn-primary {
      margin: 0px !important;
    }

    label {
      width: auto;
      margin: 0px !important;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      padding: 0px 15px;
    }

    .add-content-title {
      height: 40px;
      display: flex;
      margin: 10px 0px;

      .interactive {
        position: absolute;
        display: flex;
        top: -10px;
        right: 25px;
        line-height: 43px;

        .form-group {
          margin: 0px;
          width: 150px !important;
        }
      }
    }

    .add-content-detail {
      position: relative;
      border-radius: 3px;

      .content-detail {
        border: 1px solid #ced4da;
        border-radius: 3px;
        padding: 0px 2px;

        .add-content-detail-title {
          display: flex;
          position: relative;
          background: #eff9ff;
          box-sizing: border-box;
          border-radius: 3px;
          line-height: 44px;

          .interactive {
            position: absolute;
            display: flex;
            top: 0px;
            right: 0px;
            line-height: 43px;
            padding: 1px 5px 1px 0px;

            .test-mail {
              display: flex;
            }
          }
        }

        .template-add {
          display: flex;
          line-height: 40px;
          margin-bottom: 5px;

          label {
            padding: 0px 15px 0px 0px;
          }
        }

        .input-mail-and-more {
          display: flex;
          margin-bottom: 5px;
          padding: 0px 0px 10px 0px;
          input {
            margin: 0px 5px 0px 0px;
          }
        }

        .content-fixing {
          margin-bottom: 10px;
          border: solid #8080804d 1px;
        }
      }
    }
  }
}
