.container {
  text-align: center;
}
.btn-button {
  float: right;
  margin: 12px 10px;
}
.btn-info {
  float: right;
  margin: 8px;
}
.multi-row {
  margin: 12px 4px;
}
.table {
  width: 100% !important;
}
.span-line {
  margin: 2%;
}
.table-details {
  width: 100%;
}
.label-table {
  width: 100%;
}
.myButton {
  border: none;
  background: none;
  text-decoration: underline;
}
.myButton:hover {
  color: blue;
}
.table-mini {
  display: flex;
  background: antiquewhite;
  width: 100% !important;
  margin-bottom: 0 !important;
  color: #212529;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 15px;
}
.link-result {
  float: right;
  margin-right: 10px;
}
.label-table-detail {
  margin-bottom: -10px;
  margin-top: 5px;
  margin-left: 15px;
}
