.dropdown-menu-right {
  min-width: 11rem;
  width: auto;
}
.avt_first_name {
  height: 40px;
  display: flex;
  .box_first {
    margin: 0;
    padding: 0;
    background: #dba145;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }
  .drop_down_logout {
    padding: 20px 0 0 5px;
  }
}
.user_name {
  padding: 5px;
  line-height: 20px;
}
