.container-create {
  .count-campaign {
    margin: 1% 2% -1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #6c757d;
  }
  .ant-breadcrumb a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #3866dd;
  }
  .ant-breadcrumb a:hover {
    text-decoration: none;
    color: greenyellow;
  }
  .ant-breadcrumb > span:last-child a {
    text-decoration: unset;
  }
  .tag-group-content {
    float: right;
    border-radius: 12px;
    label {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 0px;

      color: #8ea1cf;
    }
  }
  .row-title {
    background: #f9fafb;
    padding: 15px;
  }
  .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #595c82;
  }
  .gutter-box {
    margin: 5%;
    background: white;
    padding: 5px 0;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    height: 215px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #dbe1e7;
  }
  .text-title {
    margin: 3% 4% 2%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #343a40;
  }
  p {
    margin: 2% 4%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #6c757d;
  }
}
