.cj-tag-name {
  width: 100%;
  &:hover {
    cursor: hand;
  }
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-top: 6px;
  text-transform: uppercase;
  color: #595c82;
}

.modal-header, .modal-footer {
    background: #ffffff;
}
