.btn-button {
  float: right;
  margin: 12px 10px;
}
.btn-info {
  float: right;
  margin: 8px;
}
.multi-row {
  margin: 12px 4px;
}

.span-line {
  margin: 2%;
}
.table-details {
  width: 100%;
}
.table-responsive {
  display: block;
  overflow-x: auto;
}
.table-striped {
  margin-top: 0px !important;
}

.panel {
  border-radius: 3px;
  background-color: #ffff;
  width: 100%;
  padding: 30px;
}

.searchUser {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  padding: 3px;
  font-size: 15px;
}
.profilesTag {
  float: right;
  width: 100%;
  border-radius: 3px;
}

thead th,
tbody td,
tbody td .badge {
  border-right: 1px solid #dedede;
}
thead th {
  color: #545cd8;
}

.panel .row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.searchUser {
  float: right;
  width: 60%;
}
.updatePanel {
  background-color: #ffffff;
}
.card {
  box-shadow: none;
}
.has-search {
  margin-bottom: 12px;
  display: flex;
}
.totalItems {
  margin-bottom: 10px;
  font-size: 17px;
}
.badge {
  border-right: 1px solid #dedede;
  margin-top: 11px;
  margin-left: 7px;
}
.updateTitle {
  font-size: 2rem;
}
.fullNameContent {
  margin-top: 30px;
}

.form-group label {
  font-size: 17px;
}
.buttonUpdate {
  border-radius: 3px;
}

.save-right {
  float: right;
  margin-bottom: 15px;
}
.back-left {
  float: left !important;
  margin: 0 !important;
}
.Toastify__toast-body {
  margin-top: 50px;
}
#title-common-header {
  font-size: 20px;
  color: #2d3843;
  background: #f9fafb;
  margin: 0px -10px 10px;
  padding: 20px 10px;
  line-height: 30px;
  button {
    margin: 0px 10px;
  }

  #text-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #2d3843;
  }
  #btn-create {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #ffffff;
  }
}
#column-span {
  font-size: 43px;
  float: right;
  color: #dce4ee;
  font-family: none;
}
.catelogry-search {
  display: flex;
  padding-top: 5px;
}
#catelogry-text {
  margin-top: 16px;
}
#search-text {
  width: 100px;
  margin-top: 7px;
}
#btn-import {
  background: white;
  color: black;
  margin-left: 50%;
}

#btn-export {
  background: white;
  color: black;
  margin-left: 5%;
}
.btn-button {
  float: right;
  margin: 12px 10px;
}
.btn-info {
  float: right;
  margin: 8px;
}
.multi-row {
  margin: 12px 4px;
}

.span-line {
  margin: 2%;
}
.table-details {
  width: 100%;
}
.label-table {
  width: 100%;
  text-align: center;
}
.myButton {
  border: none;
  background: none;
  text-decoration: underline;
}
.myButton:hover {
  color: blue;
}
.table-mini {
  display: flex;
  background: antiquewhite;
  width: 100% !important;
  margin-bottom: 0 !important;
  color: #212529;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 15px;
}
.link-result {
  float: right;
  margin-right: 10px;
  border: none;
  background: none;
  text-decoration: underline;
}
.link-result:hover {
  color: blue;
}
.label-table-detail {
  margin-bottom: -10px;
  margin-top: 5px;
  margin-left: 15px;
}
.ModalLoading {
  display: contents;
  .modal-content {
    background: none !important;
    border: none !important;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
.table-striped {
  margin-top: 20px;
  font-family: Roboto;
  border-collapse: collapse;
}
.col-md-9 {
  margin-top: auto;
}
.no-gutters {
  background: antiquewhite;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
}
.classHiden {
  display: none;
}
.noRecord {
  text-align: center;
}
.img {
  width: 160px;
}
.text-danger {
  text-align: left;
}

.btn-button {
  float: right;
  margin: 12px 10px;
}
.btn-info {
  float: right;
  margin: 8px;
}
.multi-row {
  margin: 12px 4px;
}

.span-line {
  margin: 2%;
}
.table-details {
  width: 100%;
}

.table-striped {
  margin-top: 0px !important;
}

.searchUser {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  padding: 3px;
  font-size: 15px;
}
.profilesTag {
  float: right;
  width: 100%;
  border-radius: 3px;
}

thead th,
tbody td,
tbody td .badge {
  border-right: 1px solid #dedede;
}
thead th {
  color: #545cd8;
}

.searchUser {
  float: right;
  width: 60%;
}
.updatePanel {
  background-color: #ffffff;
}
.card {
  box-shadow: none;
}
.has-search {
  margin-bottom: 12px;
}
.totalItems {
  margin-bottom: 10px;
  font-size: 17px;
}
.badge {
  border-right: 1px solid #dedede;
  margin-top: 11px;
  margin-left: 7px;
}
.updateTitle {
  font-size: 2rem;
}
.fullNameContent {
  margin-top: 30px;
}

.form-group label {
  font-size: 17px;
}
.buttonUpdate {
  border-radius: 3px;
}

.rowUpdate .row {
  margin-right: -15px;
  margin-left: -15px;
}
.save-right {
  float: right;
  margin-bottom: 15px;
}
.back-left {
  float: left !important;
  margin: 0 !important;
}
.Toastify__toast-body {
  margin-top: 50px;
}
#display-row {
  display: none;
}

.search-field {
  display: inline-flex;
}

.field-search {
  margin-bottom: 20px;

  .field-title {
    height: 40px;
    .field-title_text {
      padding: 10px 5px;
      margin: 0px;
      color: #3866dd;
      text-decoration: underline;
      &:hover {
        cursor: hand;
      }
    }
  }
}
.display-colum {
  display: none;
}

.search-anvanced_footer {
  height: 40px;
}

.title-advanced-search {
  padding: 0px 5px;
}
.table-user #table-reponse {
  table-layout: fixed;
}
.input-search_group .rw-input-reset {
  width: 214px !important;
}
.title-remove-all-customers {
  text-align: center;
  border: solid 2px #c7c6c6;
  padding: 10px 0px;
  margin: 20px 0px;
  .title-select-all {
    color: blue;
    text-decoration: underline;
  }
}
.footer-modal-cus {
  display: flex;
  justify-content: space-around;
}

.wrraper-input {
  position: relative;
  font-size: 30px;
  .number-cus {
    z-index: 1;
    position: absolute;
    left: 12px;
    top: 3px;
    color: #d4cdcd;
  }
  .input-confirm-remove {
    width: 30%;
    height: 50px;
    font-size: 30px;
  }
}
.btn-restore {
  margin-bottom: 10px;
}
.label-search {
  vertical-align: sub;
  color: black;
  font-weight: 600;
}

.five-percen {
  width: 5%;
}
.fifteen-percen {
  width: 15%;
}
.twenty-percen {
  width: 20%;
}
