.app-container {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.editor {
  display: flex;
  flex: 1;
}

.flow {
  flex: 1;
}
.editor {
  .ant-layout.ant-layout-has-sider > .ant-layout,
  .ant-layout.ant-layout-has-sider > .ant-layout-content {
    overflow-x: visible;
  }
  overflow: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
}

.editorHd {
  margin: 1% 1% 0%;
  padding: 1%;
  border: 1px solid #e6e9ed;
  background: #ffffff;
}

.editorBd {
  flex: 1;
}
.titleContent {
  height: 100%;
}
.editorTitleBar {
  min-height: 48px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-radius: 2px 2px 0 0;
}

.editorSidebar,
.editorContent {
  display: flex;
  flex-direction: column;
}

.editorSidebar {
  background: #fafafa;
  height: 600px;
  overflow: auto;

  &:first-child {
    border-right: 1px solid #e6e9ed;
  }

  &:last-child {
    border-left: 1px solid #e6e9ed;
  }
}

.flow,
.mind,
.koni {
  flex: 1;
  // https://github.com/philipwalton/flexbugs/issues/197#issuecomment-378908438
  height: 0;
}
.editor {
  .btn-test {
    float: right;
    margin-right: 5%;
  }
  .ant-collapse-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #343a40;
  }
  .title-sider-test {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-left: 5%;
    /* identical to box height */

    color: #343a40;
  }
  .text-sider-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #495057;
    margin-bottom: 4%;
    margin-left: 5%;
  }
  .ant-breadcrumb-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #595c82;
  }
  #config-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  .ant-breadcrumb a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #3866dd;
  }
  .ant-breadcrumb a:hover {
    text-decoration: none;
    color: greenyellow;
  }

  .ant-layout-sider {
    background: white;
  }
  .ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: #d0dce7;
    line-height: 48px;
    text-align: center;
    background: white;
    cursor: pointer;
    transition: all 0.2s;
  }
  .tool-bar {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #9aa8b4;
  }
  .icon-collapse {
    float: right;
    color: #d0dce7;
  }
  .header-sider {
    padding: 16px;
  }
  .header-flow {
    background: #f9fafb;
    padding: 13px;
  }
  .itemPanel {
    .ant-card {
      background: white;
      margin-top: 2%;
    }
  }
  .ant-layout-sider-children {
    height: 800px;
    overflow: auto;
  }
  .flow {
    background: #f9fafb;
    margin: 0% 1%;
  }
  .ant-layout-header {
    height: 70px;
  }
  .ant-btn-primary {
    color: #fff;
    background-color: #3866dd;
    border-color: #3866dd;
  }
  .btn-multi {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #343a40;
  }
}
.modal-config-email {
  .modal-content {
    height: 610px;
    width: 200%;
    margin-left: -200px;
  }
}
.text-event-wait {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #495057;
}
.title-event-wait {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #595c82;
}
.label-message {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #495057;
}
