.container {
  text-align: center;
}
.btn-button {
  float: right;
  margin: 12px 10px;
}
.btn-info {
  float: right;
  margin: 8px;
}
.multi-row {
  margin: 12px 4px;
}
.table {
  width: 100% !important;
}
.span-line {
  margin: 2%;
}
.table-details {
  width: 100%;
}
.label-table {
  width: 100%;
}
