.content-group-properties .modal-content {
  width: 200% !important;
  margin-top: 15%;
}
.content-group-properties {
  margin-left: 20% !important;
}
#recomand {
  margin-top: 16px;
  font-size: 19px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 10px;
  margin-bottom: 10px;
}
#has-search {
  padding: 10px;
  background: beige;
}
#table-group {
  display: flex;
}
#table-right {
  text-align: right;
  margin-top: 11px;
}
.text-temp {
  margin-left: 9px;
  margin-top: 10px;
}
#nav-group {
  height: 50%;
}
#row-create-group {
  height: 475px;
}
