.content-group-properties .modal-content {
  width: 134% !important;
  margin-top: 15%;
  margin-left: 44% !important;
}
.content-group-properties {
  margin-left: 20% !important;
  box-shadow: none;
}
#recomand {
  margin-top: 16px;
  font-size: 19px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 10px;
  margin-bottom: 10px;
}
#has-search {
  padding: 10px;
  background: #f2f5f8;
}
#table-group {
  display: flex;
}
#table-right {
  text-align: right;
  margin-top: 11px;
}
.text-temp {
  margin-left: 9px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #343a40;
}
#nav-group {
  height: 50%;
}
#row-create-group {
  height: 475px;
}
#text-all {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #a5adb6;
}
.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #595c82;
}
