#userCreate .row-info {
  margin: 10px 0px;
}

#userCreate {
  .camp-top {
    padding-bottom: 0px !important;
    border-bottom: none;
  }

  .chose-campain {
    background: #ffffff;
    border: 1px dashed #aec1f0;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 40px;
    margin: 15px 0px 10px;
    padding: 0px 15px;
  }

  .must-type {
    color: red;
    font-style: 8px !important;
    margin-bottom: 0px;
  }
}
